div {
    text-align: left; /* Aligns text to the left */
    padding-left: 10px; /* Adds some space between the text and the left side of the div */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
}

::placeholder {
    font-size: 1.25rem; /* Relative font size */
}

html, body {
    background-color: #1e1e1e;  /* Dark grey background color */
    margin: 0;
    padding: 0;
}

button, input {
    text-decoration: none;
    border: none;
}

input {
    font-size: 1.25rem; /* Relative font size */
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align chat messages to the bottom */
    height: 90vh; /* Relative to viewport height */
}

#asker {
    position: fixed;
    bottom: 0;
    right: 5%; /* Adjusted for responsiveness */
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
}

#asker input {
    background-color: #1e1e1e;   /* Grey input background color */
    width: 80vw; /* Relative to viewport width */
    height: 7vh; /* Relative to viewport height */
    border-radius: 10px;
    color: white;
}

#asker button {
    position: absolute;
    bottom: 17px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #4d4d4d; /* Dark grey button color */
    border-radius: 10px;
    border: solid #1e1e1e;
}

#chatbox {
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}

.bubble {
    display: inline-block;
    max-width: 70%; /* Relative to parent width */
    margin-bottom: 10px;
    border-radius: 15px;
    align-items: flex-end;
    margin: 0; 
    padding: 0; 
}

.user_bubble, .Bot_Bubble {
    text-align: left;
    text-indent: 0;
    padding-left: 10px; /* Adjust as needed */
    margin-left: 0; /* Adjust as needed */
    white-space: normal; /* This ensures text wraps */
    background-color: #464646; /* Dark grey user bubble color */
    font-size: 1rem; /* Relative font size */
    padding: 10px;
    color: white;
    text-indent: 10%;
}

.Bot_Bubble {
    background-color: #1e1e1e; /* Black bot bubble color */
}

.Bot_Icon {
    width: 20px;
    height: 20px;
}

/* Existing result paragraphs styling */
#interpretResult, #askResult {
    margin: 20px auto;
    padding: 10px;
    border-radius: 4px;
    width: 50%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    text-align: center; /* Ensure the text aligns to the center */
}

/* Center align the text within paragraphs if they exist */
#interpretResult p, #askResult p {
    text-align: center; 
}

/* Add this after your existing styles for #interpretResult and #askResult */
