

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
}

::placeholder {
    font-size: 1.25rem; /* Relative font size */
}

html, body {
    background-color: #1e1e1e;  /* Dark grey background color */
    margin: 0;
    padding: 0;
}

button, input {
    text-decoration: none;
    border: none;
}

input {
    font-size: 1.25rem; /* Relative font size */
}




.tooggletext{
    color: white;
    font-size: 10px;
}





#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align chat messages to the bottom */
    height: 90vh; /* Relative to viewport height */
}

#asker {
    position: fixed;
    bottom: 0;
    right: 5%; /* Adjusted for responsiveness */
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3); 
    border-radius: 10px; 
}

#asker input {
    background-color: #1e1e1e;   /* Grey input background color */
    width: 80vw; /* Relative to viewport width */
    height: 7vh; /* Relative to viewport height */
    border-radius: 10px;
    color: white;
}

#asker button {
    position: absolute;
    bottom: 6px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #4d4d4d; /* Dark grey button color */
    border-radius: 10px;
    border: solid #1e1e1e;
}

#chatbox {
    padding: 10px;
    width: 100%;
    overflow-y: auto;
}
#chatbox p {
    text-align: center;
    
}

.bubble {
    display: inline-block;
    max-width: 70%; /* Relative to parent width */
    margin-bottom: 10px;
    border-radius: 15px;
    align-items: flex-end;
    margin: 0; 
    padding: 0; 
}

.user_bubble, .Bot_Bubble {
    text-align: left;
    
    padding-left: 10px; /* Adjust as needed */
    margin-left: 0; /* Adjust as needed */
    white-space: normal; /* This ensures text wraps */
    background-color: #464646; /* Dark grey user bubble color */
    font-size: 1rem; /* Relative font size */
    padding: 10px;
    color: white;
    
}

.Bot_Bubble {
    background-color: #1e1e1e; /* Black bot bubble color */
}

.Bot_Icon {
    width: 20px;
    height: 20px;
}

/* Existing result paragraphs styling */
#interpretResult, #askResult {
    margin: 20px auto;
    padding: 10px;
    border-radius: 4px;
    width: 50%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    text-align: center; /* Ensure the text aligns to the center */
}

/* Center align the text within paragraphs if they exist */
#interpretResult p, #askResult p {
    text-align: center; 
}

/* Add this after your existing styles for #interpretResult and #askResult */


/* Styling for the toggle button */
.switch {
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 50px;
    bottom: 170px;
    right: 100px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider p {
    text-align: center;
   
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
 
#startSpeechRecognition{
    background-color: white;
    height: 70px;
    width: 70px;

    position: fixed;
    bottom: 100px;
    right: 100px;
    border-radius: 25px;
}